.container {
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    /* align-items: center; */
    border: solid black 1px;
    height: 2000px;
    width: 100vw;
    justify-content:space-between;
}

nav {
    border: solid red 1px;
    height: 75px;
    width: 100vw;
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
}

.middle {
    border: solid green 1px;
    height: 75vh;
    width: 100vw;
    display: flex;
    
}

article {
    border: solid brown 1px;
    height: 75vh;
    width: 100vw;

}

/* aside {
    border: solid burlywood;
    height: 75vh;
    width: 25vw;

} */

footer {
    border: solid yellow 3px;
    height: 100px;
    width: 100vw;
    display: flex;
}

.bottom-images {
    display: flex;
    border: solid pink 2px;
}
.bottom-middle {
    display: flex;
    border: solid orange 2px;
}

.rectangle1 {
    border: solid gray 2px;
}

/* .rectangle2 {
    border: solid purple 2px;
    display:flex;
}

.rectangle3 {
    border: solid red;
    display:flex;
} */

.column {
    border: solid yellow 2px;
    height: 50vh;
}

.row {
    border: solid orange 2px;
    display:flex;
    justify-content: space-evenly;
    column-width: 100px;
}